.tmm-button {
    padding: 0.6em 2.5em;
    border: 0.2em var(--bordercolor) solid;
    letter-spacing: 0.05em;
    border-radius: 0.15em;
    display: block;
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    box-sizing: border-box;
    font-family: "graph";
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 0.8;

    --bordercolor: var(--accent);
    --backgroundcolor: var(--accent);
    --textcolor: white;

    transition: 0.125s ease filter, 0.125s ease opacity;

    &.tmm-button-neg {
        --bordercolor: white;
        --backgroundcolor: white;
        --textcolor: var(--accent);
    }

    &.tmm-button-line {
        --backgroundcolor: transparent;
        --textcolor: var(--bordercolor);
    }
}

.tmm-button:hover {
    -webkit-filter: brightness(1.15);
    filter: brightness(1.15);
}

.tmm-button.tmm-button-next::after {
    content: "\203a";
    font-size: 2em;
    line-height: 0;
    margin-left: 0.2em;
    display: inline-block;
    transition: 0.125s ease transform;
    transform: translateY(0.18em);
}

.tmm-button.tmm-button-next:hover::after {
    transform: translateY(0.18em) translateX(0.15em);
}